*{
	margin: 0;
	padding: 0;
}

.container-head{
	width: 100%;
	height: 60px;
	background-color: #252323;
}

.container-conteudo-head{
	padding-top: 17px;
	padding-left: 16px;
}

.logo{
	float: left;
}

.midias-sociais{
	float: right;
}

.midias-sociais ul li{
	display: inline-block;
	margin-right: 13px;
}

.area-conteudo{
	width: 980px;
	margin: 0 auto;

}

.container-menu{
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	border-bottom: 2px solid #efefef;
	box-sizing: border-box;
}

.container-conteudo-menu{
	padding-top: 30px;
}

.navegacao ul{
	float: left;
}

.navegacao ul li{
	display: inline-block;

}

.navegacao ul li a{
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 14px;
	color: #8b8b8b;
}
.navegacao ul li a:hover{
	color: #00bac6;
	height: 30px;
	border-bottom: 2px solid #00bac6;
}

.pesquisa{
	float: right;
	margin-top: -5px;
}

.pesquisa input{
	height: 30px;
	padding-left: 10px;
	padding-right: 30px;
	box-sizing: border-box;
	background-image: url("../img/pesquisa.png");
	background-repeat: no-repeat;
	background-position: 95%;
	border: 2px solid #7f7f7f;
}


