*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.container-head{
	width: 100%;
	height: 60px;
	background-color: #252323;
}

.container-conteudo-head{
	padding-top: 17px;
	padding-left: 16px;
}

.logo{
	float: left;
}

.midias-sociais{
	float: right;
}

.midias-sociais ul li{
	display: inline-block;
	margin-right: 13px;
}

.area-conteudo{
	width: 980px;
	margin: 0 auto;

}

.container-menu{
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	border-bottom: 2px solid #efefef;
	box-sizing: border-box;
}

.container-conteudo-menu{
	padding-top: 30px;
}

.navegacao ul{
	float: left;
}

.navegacao ul li{
	display: inline-block;

}

.navegacao ul li a{
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 14px;
	color: #8b8b8b;
}
.navegacao ul li a:hover{
	color: #00bac6;
	height: 30px;
	border-bottom: 2px solid #00bac6;
}

.pesquisa{
	float: right;
	margin-top: -5px;
}

.pesquisa input{
	height: 30px;
	padding-left: 10px;
	padding-right: 30px;
	box-sizing: border-box;
	background-image: url("../img/pesquisa.png");
	background-repeat: no-repeat;
	background-position: 95%;
	border: 2px solid #7f7f7f;
}

.banner{
	position: relative;
}

.banner hgroup{
	position: absolute;
	top: 150px;
	left: 430px;
	z-index: 1;
	text-align: center;
}

.banner hgroup h1{
	color: #ffffff;
	font-size: 3em;
}

.banner hgroup h3{
	color: #dee0e8;
	font-size: 1em;
}



.banner img{
	width: 100%;

}

.slick-prev, .slick-next{
	font-size: 0;
	width: 39px;
	height: 54px;
	border: none;
	background-color: transparent;
	z-index: 1;
	position: absolute;
	top: 186px;
	
}

.slick-prev{
	left: 200px;
	background-image: url("../img/arrow_left.png");
}

.slick-next{
	background-image: url("../img/arrow_right.png");
	right: 200px;
}

.slick-prev:hover, .slick-next:hover{
	border: 1px solid #ffffff;
}

.slick-dots li{
	display: inline-block;
	margin: 5px;
}

.slick-dots{
	position: absolute;
	top: 350px;
	left: 50%;
	z-index: 1;
}

.slick-dots li button{
	border: 5px solid white;
	border-radius: 20px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	font-size: 0px;
}

li.slick-active button{
	background-color: #68b9c4;
}